 .chart-btn{
     padding: 5px 10px;
     border-radius: 5px;
     border-radius: 3px;
     color: var(--txt-color);
     margin-left: 15px;
     background-color: transparent;
     border:2px solid transparent;
     cursor: pointer;
     transition: 0.2s;
     font-size: 1em;
 }

 .chart-btn:hover{
     border:2px solid var(--txt-color);
 }
 
 .chart-btn.active{
    border:2px solid var(--txt-color);
 }

 .cart-title{
     font-size: 2em;
    @media (min-width:1280px) {
        font-size: 1.4vw;
    }
 }

 .cart-label{
     font-size: 1.3em;
     padding: 3px;
     @media (min-width:1280px) {
         font-size: 1vw;
     }
 }

 .right-text{
     text-align: right;
 }