
.search-input{
    background-color: transparent;
    padding: 0.7em;
    border-radius: 15px;
    border: 1px solid var(--txt-color);
    margin: 1em;
    width: 300px;
    font-size: 1.2em;
    color: var(--txt-color);
}
