.layout {
	color: var(--txt-color);
	height: 100%;
	position: relative;
	
	.content {
		padding-left: var(--sidebar-width);
		background-color: var(--second-bg);
		min-height: 100vh;
		.main {
			padding: 0 30px;
		}

		@media (max-width:1280px) {
			padding-left: 0;
			padding-top: 150px;
			.main {
				padding: 10px;
			}
		}

		@media (max-width:768px) {
			padding-left: 0;
			padding-top: 200px;
			.main {
				padding: 10px;
			}
		}
	}
}